/* Definitions of website elements */
.navigation {
    top: 5%;
    text-align: center;
}

.navigation_menu_item {
    font-family: Avenir;
    text-align: center;
}

.main {
    left: 0;
    padding-top: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    text-align: center;
}

footer {
    bottom: 0;
    font-family: Avenir, bold, italic;
    padding: 5px;
    background-color: lightgrey;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Text content manipulation */
.small-caps {
    font-variant: small-caps;
}

strong {
    font-family: Avenir, bold;
}

h1 {
    font-family: Avenir, bold;
}

h2, 
p,
li {
    font-family: Avenir;
}

h3 {
    font-family: Avenir, italic;
}
